* {
    margin: 0;
    padding: 0;
}
.page-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100vh;
    position: absolute;
    flex-direction: column;

}
.profile-container {
    position: relative;
    top: 100px;
    max-width: 70%;
    left: 15%;
    /* min-width: 50%; */
    height: auto;   
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-bottom: rgba(63, 62, 109, 0.3) ridge;
}
.flex-container {
    display: flex;
    align-content: center;
  
}

.section-title {
    display: block;
    text-align: center;
    border-bottom: rgba(63, 62, 109, 0.3) ridge;
    padding-bottom: 10px;;
    margin: 10px;
}
.profile-role {
    display: block;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .image-details-container .bio {
        flex: 100%;
    }
    .flex-container {
        flex-direction: column;
    }
}
.image-details-container {
    flex: 30%;
    float: left;
}
.bio {
    padding-top: 30px;
    padding-left: 20px;
    text-align: center;
    position: relative;
    flex: 70%;
    margin: auto;

}
.dp {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    /* float: left; */
    padding-top: 20px;
}
.title {
    display: block;
    font-weight: bold;
    padding: 10px 10px 10px 0px 0;
}
.details {
    text-align: center;
    padding: 20px;
    display: block;
    /* float: left; */
    max-width: 100%;
    list-style-type:none;
}

.work-experience-container {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 150px;
    width: 100%;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.315);
   


}
.work-experience-content-container {
    position: relative;
    display: block;
    width: 70%;
    /* max-width: 100%; */
    /* left: 15%; */
    /* min-width: 50%; */
    height: auto;   
    overflow: hidden;
    text-align: center;
    
    border-bottom: rgba(251, 15, 173, 0.3) ridge; 
}
