* {
    margin: 0;
    padding: 0;
}
.profile-container {
    position: relative;
    top: 100px;
    width: 70%;
    left: 15%;
    min-width: 500px;;
    justify-content: center;
    /* background-color: grey; */
    text-align: center;
}
.title {
    display: block;
    font-weight: bold;
    padding: 10px 10px 10px 0px 0;
    
}
.profile-title {
    display: block;
    text-align: center;
    border-bottom: purple solid;
    padding-bottom: 10px;;
    margin: 10px;
}
.profile-role {
    display: block;
    text-align: center;
}
.profile-details {
    text-align: center;
    padding: 20px;
    display: inline-block;
}
.detail-item {
    display: inline-block;
}
.bio {
    padding: 50px;
    text-align: center;
    position: relative;
}