* {
    margin: 0;
    padding: 0;
}
.profile-page-container {
    position: relative;
    top: 100px;
    max-width: 70%;
    left: 15%;
    min-width: 50%;;
    justify-content: center;
    /* background-color: grey; */
    text-align: center;
}
.profile-title {
    display: block;
    text-align: center;
    border-bottom: purple solid;
    padding-bottom: 10px;;
    margin: 10px;
}
.profile-role {
    display: block;
    text-align: center;
}
.image-details-container {
    width: 30%;
    float: left;
}
.dp {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    /* float: left; */
    padding-top: 20px;
}
.title {
    display: block;
    font-weight: bold;
    padding: 10px 10px 10px 0px 0;
    
}
.details {
    text-align: left;
    padding: 20px;
    display: block;
    /* float: left; */
    max-width: 100%;
}
.detail-item {
    /* display: inline-block; */
}
.bio {
    padding-top: 30px;
    padding-left: 20px;
    text-align: center;
    position: relative;
    width: 65%;
    margin: auto;
    float:left;
}